<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

  <% unless @import.blank? %>
  	<p>The importer ran at <span style="font-weight:bold;"><%= @import.datetime.strftime("%m/%d/%Y %H:%M")%></span></p>

  	<p><%= "#{pluralize(@import.valid_trials, "trial")} and #{pluralize(@import.valid_sites,"sites")} were added and/or updated in the last import run." %></p>
  <% end %>


    <p><%= "There are currently:" %></p>
    <ul>
      <li><%="#{@trials.all.count} trials" %></li>
      <li><%="#{@sites.all.count} sites. NOTE: #{@sites.not_geocoded.count} do not have lat/long"%></li>
    </ul>
  </body>
</html>