<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

  <% if @import.present? %>
  	<p>The importer ran at <span style="font-weight:bold;"><%= @import.datetime.strftime("%m/%d/%Y %H:%M")%></span></p>

  	<ul>
      <li><%= "#{@import.num_xml_files} trials are in ClinicalTrials.gov" %></li>
      <li><%= "#{@import.unmodified_trials} trials had already been imported to the application and there were no changes since the last import" %></li>
      <li><%= "#{@import.invalid_trials} trials were ignored for being invalid (i.e. not having a title)" %></li>
      <li><%= "#{@import.valid_trials} trials were added or updated (#{@import.valid_sites} sites)" %></li>

  <% end %>

    <p><%= "The application database currently has:" %></p>
    <ul>
      <li><%="#{@trials.all.count} trials" %></li>
      <li><%="#{@sites.all.count} sites. (#{@sites.not_geocoded.count} do not have lat/long)"%></li>
    </ul>

  </body>
</html>