<!DOCTYPE html>
<html>
<head>

  <meta name="generator" content="Convio CMS" />
  <script language="JavaScript" type="text/javascript" src="/components/cookie/cookie.js"></script>

  <script language="JavaScript" type="text/javascript" src="/components/print/printer-friendly.js"></script>

  <script type="text/javascript">
if (typeof CONVIO=="undefined" || ! CONVIO) { var CONVIO = {}; }
CONVIO.pageUserName = '1522:0';
CONVIO.pageSessionID = '274D29C2CEF7A6A7D61A2F28B4B0DD4D.app262a';
CONVIO.pageSessionName = 'JSESSIONID';
</script>

  <script type="text/javascript" src="/system/auth/session-status.jsp?nocache=1398647270034"></script>
  <script type="text/javascript">

// The original referrer may have been lost from the session-status.jsp javascript redirect.
// Read the original referrer from the cookie.
if (typeof CONVIO=="undefined" || ! CONVIO) { var CONVIO = {}; }
CONVIO.referrer = getCookie("CONVIO.referrer");
deleteCookie("CONVIO.referrer");
</script>

  <!-- Convio's CRM JS library -->
  <script type="text/javascript" src="http://www.braintumorcommunity.org/js/utils.js"></script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Leadership & Staff</title>
  <meta name="description" content="National Brain Tumor Society is fiercely committed to finding better treatments, and ultimately a cure, for people living with a brain tumor today and anyone who will be diagnosed tomorrow. This means effecting change in the system at all levels.">
  <meta name="viewport" content="width=device-width">
  <!-- CALL IE8-only STYLES -->
  <!--[if IE 8]>
  <link rel="stylesheet" href="http://www.braintumor.org/assets/styles/css/ie.css" id="old-ie">
  <![endif]-->
  <!-- CALL MAIN SITE STYLES -->
  <!--[if gte IE 9]>
  <!-->
  <link rel="stylesheet" href="http://www.braintumor.org/assets/styles/css/styles.css">
  <!--<![endif]-->
  <!-- CALL GOOGLE API FONT STYLESHEET FOR OPEN SANS -->
  <!-- CALL MODERNIZR SCRIPT -->
  <!--[if gte IE 8]>
  <!-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,600,700italic,700' rel='stylesheet' type='text/css'>
  <script src="http://www.braintumor.org/assets/js/vendor/modernizr-custom-04808.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!-- CALL JQUERY -->
  <script>window.jQuery || document.write('<script src="http://www.braintumor.org/assets/js/vendor/jquery-1-9-1-min.js"><\/script>')</script>
<!-- LOCAL JQUERY FALLBACK -->
<!--<![endif]-->
<!-- Gigya Sharing -->
<script type="text/javascript" src="http://cdn.gigya.com/js/socialize.js?apiKey=2_0rh_PIXKeng_rY4zI3RdUFGuQYvvCztwvAL85O8vhHLW2sC_7Gvh3zbzcgtYZmFo"></script>

<script type="text/javascript" src="http://www.braintumor.org/assets/js/redirects.js"></script>

<script type="text/javascript">
var act = new gigya.socialize.UserAction();
var showShareBarUI_params=
{
containerID: 'sharebar1',
shareButtons: 'Share',
showCounts: 'none',
userAction: act
}
</script>
    <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag "application" %>
      <%= csrf_meta_tag %>
</head>
<body>

<!-- START WEBSITE HEADER -->
<header id="header">
  <div class="wrapper">
    <a href="http://www.braintumor.org/" id="logo">
      <img src="http://www.braintumor.org/assets/images/logo-nbts.svg" data-fallback="http://www.braintumor.org/assets/images/logo-nbts.png" alt="National Brain Tumor Society"></a>
    <a href="#menu" class="menu-link">
      <span class="search">Search</span>
      <span class="menu">Menu</span>
    </a>

    <div id="item-442548773" style="display: inline;">

      <!-- Search and Social Links -->
      <form action="/search.html" method="get">
        <fieldset>
          <legend>Site Search</legend>
          <label for="search-input">Search term</label>
          <input id="search-input" name="query" placeholder="Search" title="Search" type="text" />
          <label for="search-submit">Submit</label>
          <button class="btn-grey btn-search" id="search-submit" type="submit">Submit</button>
        </fieldset>
      </form>
      <div class="social-links">
        <a class="fb" href="https://www.facebook.com/braintumors" target="_blank">Facebook</a>
        <a class="twitter" href="https://twitter.com/NBTStweets" target="_blank">Twitter</a>
        <a class="yt" href="http://www.youtube.com/user/NBTSvideo" target="_blank">YouTube</a>
        <a class="flickr" href="http://www.flickr.com/photos/nbts/" target="_blank">Flickr</a>
      </div>
      <div class="quick-links">
        <a href="http://www.braintumor.org/brain-tumor-information/">Brain Tumor Information</a>
        |
        <a href="http://blog.braintumor.org">News &amp; Blog</a>
      </div>
    </div>

  </div>
</header>
<!-- END WEBSITE HEADER -->

<nav id="nav" class="nav">
  <div>
    <!-- START PRIMARY NAVIGATION -->
    <div id="item-442551789" style="display: inline;">

      <ul class="primary">
        <li >
          <a href="http://www.braintumor.org/about-us/">About us</a>
          <ul class="subpages">
            <li>
              <a href="http://www.braintumor.org/about-us/our-impact/">Our Impact</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/about-us/summit/">Summit</a>
            </li>
            <li>
              <a href="http://blog.braintumor.org">News &amp; Blog</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/about-us/leadership-staff/">Leadership &amp; Staff</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/about-us/financials/">Financials</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/about-us/careers/">Careers</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/about-us/contact-us/">Contact Us</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="http://www.braintumor.org/advance-research/">Advance research</a>
          <ul class="subpages">
            <li>
              <a href="http://www.braintumor.org/advance-research/integrated-initiatives/">Integrated Initiatives</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/advance-research/funded-research-and-accomplishments/">Funded Research &amp; Accomplishments</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/advance-research/research-funding-opportunities/">Research Funding Opportunities</a>
            </li>
          </ul>
        </li
      >
        <li>
          <a href="http://www.braintumor.org/advocate-for-change/">Advocate for change</a>
          <ul class="subpages">
            <li>
              <a href="http://www.braintumor.org/advocate-for-change/legislative-agenda/">Legislative Agenda</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/advocate-for-change/alerts-updates-polls/">Alerts, Polls & Updates</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/advocate-for-change/tools-training/">Tools &amp; Training</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/advocate-for-change/advocates-in-action/">Advocates in Action</a>
            </li>
          </ul>
        </li
      >
        <li class="active">
          <a href="http://www.braintumor.org/join-the-fight/">Join the Fight</a>
          <ul class="subpages">
            <li>
              <a href="http://www.braintumor.org/join-the-fight/ways-to-give/">Ways to Give</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/join-the-fight/find-start-an-event/">Find or Start an Event</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/join-the-fight/become-a-research-partner/">Become a Research Partner</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/join-the-fight/volunteer/">Volunteer</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/join-the-fight/share-your-story/">Share Your Story</a>
            </li>
          </ul>
        </li
      >
        <li>
          <a href="https://secure2.convio.net/bts/site/Donation2?df_id=4300&4300.donation=form1">Donate</a>
        </li>

        <!-- original form <li>
        <a href="https://secure2.convio.net/bts/site/Donation2?df_id=3940&3940.donation=form1">Donate</a>
      </li>
      -->
    </ul>
  </div>
  <!-- END PRIMARY NAVIGATION -->

  <!-- START SECTION NAVIGATION -->
  <div id="sectionNavigation-442246645" style="display: inline;">

  	<div class="secondary">

  		<a href="http://www.braintumor.org/join-the-fight/ways-to-give/" >Ways to Give</a>

  		<a href="http://www.braintumor.org/join-the-fight/find-start-an-event/">Find or Start An Event</a>

  		<a href="http://www.braintumor.org/join-the-fight/become-a-research-partner/">Become a Research Partner</a>

		<a href="/" class="active">Participate in a Trial</a>

  		<a href="http://www.braintumor.org/join-the-fight/volunteer/">Volunteer</a>

  		<a href="http://www.braintumor.org/join-the-fight/share-your-story/">Share Your Story</a>

  	</div>
  </div>
  <!-- END SECTION NAVIGATION -->

</div>
</nav>

<article>

<!-- START ARTICLE HEADER -->
<header class="article-header">
	<div class="wrapper">

<!-- <div id="sharebarDiv"></div> -->

        	<script type="text/javascript">



			if (document.getElementById('sharebarDiv')) {
  				var act = new gigya.socialize.UserAction();
				act.setTitle("News &amp; Blog | National Brain Tumor Society");
  				var showShareBarUI_params = {
  					containerID: 'sharebarDiv',
  					shareButtons: 'Share',
  					showCounts: 'none',
  					userAction: act,
  					buttonImages:{buttonLeftImgUp:'http://blog.braintumor.org/wp-content/themes/blankslate/images/share-bttn.png',buttonCenterBGImgUp:null,buttonRightImgUp:null}
  				}
				gigya.socialize.showShareBarUI(showShareBarUI_params);
			}




			</script>

<!-- 	<% if user_signed_in? %>
	  <div style="float:right;">Hi <%= current_user.email %><%= current_user.username %>!</div>
	  <br> <div style="float:right;"><%= link_to "Edit Account",edit_user_registration_path%> &nbsp; <%= link_to "Log Out",destroy_user_session_path, :method =>'delete' %> </div>
	<% else %>
		<div style="float:right;"><%= link_to "Register", new_user_registration_path %>&nbsp;/&nbsp;<%= link_to "Log In", new_user_session_path %>  </div>

	<% end %> -->

	<h1>
   		Participate in a Trial
    </h1>
	<div class="links">
		<a href="/">Overview</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="/trials">Trial Connector</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="/blog">Blog</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="/faq">FAQ</a>
		<!-- <a href="#" disabled>Register (coming soon)</a> -->
	</div>


	</div>


<!-- <div class="links">
          <a href="#key-staff">Key Staff</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="#board-of-directors">Board of Directors</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="#advisors">Advisors</a>

      </div> -->

</header>
<!-- END ARTICLE HEADER -->

<!-- START COLUMNS WRAPPER -->
<div class="columns wrapper">	<!-- START MAIN CONTENT COLUMN -->



<div style="float:left;" class="notice"><%= notice %></div>
<div style="float:left;" class="alert"><%= alert %></div>
 <div style="clear:both;"></div>
<%= yield %>
</div>

	<!-- END MAIN CONTENT COLUMN -->

	    <!-------------------------------------------------------------->

    	<!-- START SIDEBAR COLUMN -->

	<!-- END SIDEBAR COLUMN -->




<!-- START SHARE FOOTER - visible on mobile layout  -->
 <footer id="footer">
    <!-- START SEARCH BY CONNECTION MENU -->

    <div class="search-by-connection wrapper">
      <p>Search By Connection:</p>
      <a href="http://www.braintumor.org/search-by-connection#patients-families">Patients &amp; Families</a
      >
      <a href="http://www.braintumor.org/search-by-connection#advocates">Advocates</a
      >
      <a href="http://www.braintumor.org/search-by-connection#supporters">Supporters</a
      >
      <a href="http://www.braintumor.org/search-by-connection#researchers">Researchers</a
      >
      <a href="http://www.braintumor.org/search-by-connection#industry">Industry</a
      >
      <a href="http://www.braintumor.org/search-by-connection#media">Media</a>
    </div>

    <!-- END SEARCH BY CONNECTION MENU -->

    <!-- START FOOTER SITE NAVIGATION -->
    <nav id="menu" class="wrapper">
      <ul>
        <li>
          <a href="http://www.braintumor.org/brain-tumor-information/">Brain Tumor Information</a>
          <ul>
            <li>
              <a href="http://www.braintumor.org/brain-tumor-information/recently-diagnosed/">Recently Diagnosed?</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/brain-tumor-information/treatment-options/">Treatment Options</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/brain-tumor-information/finding-support-and-coping/">Finding Support & Coping</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/brain-tumor-information/#caregiver-resources">Caregiver Resources</a>
            </li>
          </ul>
        </li>
        <li class="active">
          <a href="http://www.braintumor.org/about-us/">About us</a>
          <ul>
            <li>
              <a href="http://www.braintumor.org/about-us/our-impact/">Our Impact</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/about-us/summit/">Summit</a>
            </li>
            <li>
              <a href="http://blog.braintumor.org">News &amp; Blog</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/about-us/leadership-staff/">Leadership &amp; Staff</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/about-us/financials/">Financials</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/about-us/careers/">Careers</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/about-us/contact-us/">Contact Us</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="http://www.braintumor.org/advance-research/">Advance research</a>
          <ul>
            <li>
              <a href="http://www.braintumor.org/advance-research/integrated-initiatives/">Integrated Initiatives</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/advance-research/funded-research-and-accomplishments/">Funded Research &amp; Accomplishments</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/advance-research/research-funding-opportunities/">Research Funding Opportunities</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="http://www.braintumor.org/advocate-for-change/">Advocate for Change</a>
          <ul>
            <li>
              <a href="http://www.braintumor.org/advocate-for-change/legislative-agenda/">Legislative Agenda</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/advocate-for-change/alerts-updates-polls/">Updates, Alerts &amp; Polls</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/advocate-for-change/tools-training/">Tools &amp; Training</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/advocate-for-change/advocates-in-action/">Advocates in Action</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="http://www.braintumor.org/join-the-fight/">Join the Fight</a>
          <ul>
            <li>
              <a href="http://www.braintumor.org/join-the-fight/ways-to-give/">Ways to Give</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/join-the-fight/find-start-an-event/">Find or Start an Event</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/join-the-fight/become-a-research-partner/">Become a Research Partner</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/join-the-fight/volunteer/">Volunteer</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/join-the-fight/share-your-story/">Share Your Story</a>
            </li>
          </ul>
        </li>
      </ul>
      <a href="https://secure2.convio.net/bts/site/Donation2?df_id=4300&4300.donation=form1" class="donate-link btn btn-orange">Donate</a>
    </nav>
    <!-- END FOOTER SITE NAVIGATION -->

    <!-- START FOOTER META MENU AND SOCIAL LINKS -->
    <div class="meta wrapper">
      <div class="meta-links">
        <a href="http://www.braintumor.org/terms.html">Terms</a>
        <a href="http://www.braintumor.org/privacy-policy.html">Privacy</a>
        <a href="http://www.braintumor.org/terms.html#copyright">Copyright</a>
      </div>
      <form method="get" action="/search.html">
        <fieldset>
          <legend>Site Search</legend>
          <label for="menu-search-input">Search term</label>
          <input type="text" placeholder="Search" id="menu-search-input" title="Search" name="query" />
          <label for="menu-search-submit">Submit</label>
          <button type='submit' id="menu-search-submit" class="btn-search">Submit</button>
        </fieldset>
      </form>
      <div class="social-links">
        <a href="https://www.facebook.com/braintumors" class="fb" target="_blank">Facebook</a>
        <a href="https://twitter.com/NBTStweets" class="twitter" target="_blank">Twitter</a>
        <a href="http://www.youtube.com/user/NBTSvideo" class="yt" target="_blank">YouTube</a>
        <a href="http://www.flickr.com/photos/nbts/" class="flickr" target="_blank">Flickr</a>
      </div>
    </div>
    <!-- END FOOTER META MENU AND SOCIAL LINKS --> </footer>
</div>
<!-- END FOOTER -->

<!--[if gte IE 8]>
<!-->
<script src="http://www.braintumor.org/assets/js/scripts.js"></script>
<!-- CALL COMBINED SCRIPTS -->
<!--<![endif]-->

<script type='text/javascript'>
(function (d, t) {
  var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
  bh.type = 'text/javascript';
  bh.src = '//www.bugherd.com/sidebarv2.js?apikey=wbarp7iydluiilewdweija';
  s.parentNode.insertBefore(bh, s);
  })(document, 'script');
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49482316-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
<!-- Powered by Convio -->
<!-- 10.12.0.41:8901 -->
