<!DOCTYPE html>
<html>
<head>

  <meta name="generator" content="Convio CMS" />
  <script language="JavaScript" type="text/javascript" src="/components/cookie/cookie.js"></script>

  <script language="JavaScript" type="text/javascript" src="/components/print/printer-friendly.js"></script>

  <script type="text/javascript">
if (typeof CONVIO=="undefined" || ! CONVIO) { var CONVIO = {}; }
CONVIO.pageUserName = '1522:0';
CONVIO.pageSessionID = '274D29C2CEF7A6A7D61A2F28B4B0DD4D.app262a';
CONVIO.pageSessionName = 'JSESSIONID';
</script>

  <script type="text/javascript" src="/system/auth/session-status.jsp?nocache=1398647270034"></script>
  <script type="text/javascript">

// The original referrer may have been lost from the session-status.jsp javascript redirect.
// Read the original referrer from the cookie.
if (typeof CONVIO=="undefined" || ! CONVIO) { var CONVIO = {}; }
CONVIO.referrer = getCookie("CONVIO.referrer");
deleteCookie("CONVIO.referrer");
</script>

  <!-- Convio's CRM JS library -->
  <script type="text/javascript" src="http://www.braintumorcommunity.org/js/utils.js"></script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Leadership & Staff</title>
  <meta name="description" content="National Brain Tumor Society is fiercely committed to finding better treatments, and ultimately a cure, for people living with a brain tumor today and anyone who will be diagnosed tomorrow. This means effecting change in the system at all levels.">
  <meta name="viewport" content="width=device-width">
  <!-- CALL IE8-only STYLES -->
  <!--[if IE 8]>
  <link rel="stylesheet" href="http://www.braintumor.org/assets/styles/css/ie.css" id="old-ie">
  <![endif]-->
  <!-- CALL MAIN SITE STYLES -->
  <!--[if gte IE 9]>
  <!-->
  <link rel="stylesheet" href="http://www.braintumor.org/assets/styles/css/styles.css">
  <!--<![endif]-->
  <!-- CALL GOOGLE API FONT STYLESHEET FOR OPEN SANS -->
  <!-- CALL MODERNIZR SCRIPT -->
  <!--[if gte IE 8]>
  <!-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,600,700italic,700' rel='stylesheet' type='text/css'>
  <script src="http://www.braintumor.org/assets/js/vendor/modernizr-custom-04808.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!-- CALL JQUERY -->
  <script>window.jQuery || document.write('<script src="http://www.braintumor.org/assets/js/vendor/jquery-1-9-1-min.js"><\/script>')</script>
<!-- LOCAL JQUERY FALLBACK -->
<!--<![endif]-->
<!-- Gigya Sharing -->
<script type="text/javascript" src="http://cdn.gigya.com/js/socialize.js?apiKey=2_0rh_PIXKeng_rY4zI3RdUFGuQYvvCztwvAL85O8vhHLW2sC_7Gvh3zbzcgtYZmFo"></script>

<script type="text/javascript" src="http://www.braintumor.org/assets/js/redirects.js"></script>

<script type="text/javascript">
var act = new gigya.socialize.UserAction();
var showShareBarUI_params=
{
containerID: 'sharebar1',
shareButtons: 'Share',
showCounts: 'none',
userAction: act
}
</script>
    <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag "application" %>
      <%= csrf_meta_tag %>
</head>
<body>

<!-- START WEBSITE HEADER -->
<header id="header">
  <div class="wrapper">
    <a href="http://www.braintumor.org/" id="logo">
      <img src="http://www.braintumor.org/assets/images/logo-nbts.svg" data-fallback="http://www.braintumor.org/assets/images/logo-nbts.png" alt="National Brain Tumor Society"></a>
    <a href="#menu" class="menu-link">
      <span class="search">Search</span>
      <span class="menu">Menu</span>
    </a>

    <div id="item-442548773" style="display: inline;">

      <!-- Search and Social Links -->
      <form action="/search.html" method="get">
        <fieldset>
          <legend>Site Search</legend>
          <label for="search-input">Search term</label>
          <input id="search-input" name="query" placeholder="Search" title="Search" type="text" />
          <label for="search-submit">Submit</label>
          <button class="btn-grey btn-search" id="search-submit" type="submit">Submit</button>
        </fieldset>
      </form>
      <div class="social-links">
        <a class="fb" href="https://www.facebook.com/braintumors" target="_blank">Facebook</a>
        <a class="twitter" href="https://twitter.com/NBTStweets" target="_blank">Twitter</a>
        <a class="yt" href="http://www.youtube.com/user/NBTSvideo" target="_blank">YouTube</a>
        <a class="flickr" href="http://www.flickr.com/photos/nbts/" target="_blank">Flickr</a>
      </div>
      <div class="quick-links">
        <a href="http://www.braintumor.org/brain-tumor-information/">Brain Tumor Information</a>
        |
        <a href="http://blog.braintumor.org">News &amp; Blog</a>
      </div>
    </div>

  </div>
</header>
<!-- END WEBSITE HEADER -->

<nav id="nav" class="nav">
  <div>
    <!-- START PRIMARY NAVIGATION -->
    <div id="item-442551789" style="display: inline;">

      <ul class="primary">
        <li >
          <a href="http://www.braintumor.org/about-us/">About us</a>
          <ul class="subpages">
            <li>
              <a href="http://www.braintumor.org/about-us/our-impact/">Our Impact</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/about-us/summit/">Summit</a>
            </li>
            <li>
              <a href="http://blog.braintumor.org">News &amp; Blog</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/about-us/leadership-staff/">Leadership &amp; Staff</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/about-us/financials/">Financials</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/about-us/careers/">Careers</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/about-us/contact-us/">Contact Us</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="http://www.braintumor.org/advance-research/">Advance research</a>
          <ul class="subpages">
            <li>
              <a href="http://www.braintumor.org/advance-research/integrated-initiatives/">Integrated Initiatives</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/advance-research/funded-research-and-accomplishments/">Funded Research &amp; Accomplishments</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/advance-research/research-funding-opportunities/">Research Funding Opportunities</a>
            </li>
          </ul>
        </li
      >
        <li>
          <a href="http://www.braintumor.org/advocate-for-change/">Advocate for change</a>
          <ul class="subpages">
            <li>
              <a href="http://www.braintumor.org/advocate-for-change/legislative-agenda/">Legislative Agenda</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/advocate-for-change/alerts-updates-polls/">Alerts, Polls & Updates</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/advocate-for-change/tools-training/">Tools &amp; Training</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/advocate-for-change/advocates-in-action/">Advocates in Action</a>
            </li>
          </ul>
        </li
      >
        <li class="active">
          <a href="http://www.braintumor.org/join-the-fight/">Join the Fight</a>
          <ul class="subpages">
            <li>
              <a href="http://www.braintumor.org/join-the-fight/ways-to-give/">Ways to Give</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/join-the-fight/find-start-an-event/">Find or Start an Event</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/join-the-fight/become-a-research-partner/">Become a Research Partner</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/join-the-fight/volunteer/">Volunteer</a>
            </li>
            <li>
              <a href="http://www.braintumor.org/join-the-fight/share-your-story/">Share Your Story</a>
            </li>
          </ul>
        </li
      >
        <li>
          <a href="https://secure2.convio.net/bts/site/Donation2?df_id=4300&4300.donation=form1">Donate</a>
        </li>

        <!-- original form <li>
        <a href="https://secure2.convio.net/bts/site/Donation2?df_id=3940&3940.donation=form1">Donate</a>
      </li>
      -->
    </ul>
  </div>
  <!-- END PRIMARY NAVIGATION -->

  <!-- START SECTION NAVIGATION -->
  <div id="sectionNavigation-442246645" style="display: inline;">

  	<div class="secondary">

  		<a href="http://www.braintumor.org/join-the-fight/ways-to-give/" >Ways to Give</a>

  		<a href="http://www.braintumor.org/join-the-fight/find-start-an-event/">Find or Start An Event</a>

  		<a href="http://www.braintumor.org/join-the-fight/become-a-research-partner/">Become a Research Partner</a>

		<a href="/" class="active">Participate in Research</a>

  		<a href="http://www.braintumor.org/join-the-fight/volunteer/">Volunteer</a>

  		<a href="http://www.braintumor.org/join-the-fight/share-your-story/">Share Your Story</a>

  	</div>
  </div>
  <!-- END SECTION NAVIGATION -->

</div>
</nav>

<article>

<!-- START ARTICLE HEADER -->
<header class="article-header">
	<div class="wrapper">

<!-- <div id="sharebarDiv"></div> -->

        	<script type="text/javascript">



			if (document.getElementById('sharebarDiv')) {
  				var act = new gigya.socialize.UserAction();
				act.setTitle("News &amp; Blog | National Brain Tumor Society");
  				var showShareBarUI_params = {
  					containerID: 'sharebarDiv',
  					shareButtons: 'Share',
  					showCounts: 'none',
  					userAction: act,
  					buttonImages:{buttonLeftImgUp:'http://blog.braintumor.org/wp-content/themes/blankslate/images/share-bttn.png',buttonCenterBGImgUp:null,buttonRightImgUp:null}
  				}
				gigya.socialize.showShareBarUI(showShareBarUI_params);
			}




			</script>

<!-- 	<% if user_signed_in? %>
	  <div style="float:right;">Hi <%= current_user.email %><%= current_user.username %>!</div>
	  <br> <div style="float:right;"><%= link_to "Edit Account",edit_user_registration_path%> &nbsp; <%= link_to "Log Out",destroy_user_session_path, :method =>'delete' %> </div>
	<% else %>
		<div style="float:right;"><%= link_to "Register", new_user_registration_path %>&nbsp;/&nbsp;<%= link_to "Log In", new_user_session_path %>  </div>

	<% end %> -->

	<h1>
   		Participate in Research
    </h1>
	<div class="links">
		<a href="/">Overview</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="/trials">Browse Trials</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="/">Blog</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="/">FAQ</a>
		<!-- <a href="#" disabled>Register (coming soon)</a> -->
	</div>


	</div>


<!-- <div class="links">
          <a href="#key-staff">Key Staff</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="#board-of-directors">Board of Directors</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="#advisors">Advisors</a>

      </div> -->

</header>
<!-- END ARTICLE HEADER -->

<!-- START COLUMNS WRAPPER -->
<div class="columns wrapper">	<!-- START MAIN CONTENT COLUMN -->



<p style="float:left;" class="notice"><%= notice %></p>
<p style="float:left;" class="alert"><%= alert %></p>
 <div style="clear:both;"></div>
<%= yield %>


	<!-- END MAIN CONTENT COLUMN -->

	    <!-------------------------------------------------------------->

    	<!-- START SIDEBAR COLUMN -->

	<!-- END SIDEBAR COLUMN -->




<!-- START SHARE FOOTER - visible on mobile layout  -->
<footer class="share wrapper">
	<span class="addthis_button">Share</span>
</footer>
<!-- END SHARE FOOTER  -->

</div>
<!-- END COLUMNS WRAPPER -->

</article>



<!-- START STAY CONNECTED BAR -->
<aside id="stay-connected">
	<div class="wrapper">
		<h2><span>Stay</span> Connected</h2>
		<form>
			<fieldset>
				<legend>Email Newsletter Signup Form</legend>

				<label for="first_name">First Name</label>
				<input type="text" id="first_name" value="" placeholder="First Name">

				<label for="last_name">Last Name</label>
				<input type="text" id="last_name" value="" placeholder="Last Name">


				<label for="email">Email Address</label>
				<input id="email" type="email" value="" placeholder="Email Address">

				<button type="submit">Sign Up</button>

			</fieldset>

		</form>
	</div>
</aside>
<!-- END STAY CONNECTED BAR -->
<!-- START FOOTER -->
<footer id="footer">

	<!-- START SEARCH BY CONNECTION MENU -->

	<div class="search-by-connection wrapper">
		<p>Search By Connection:</p>
			<a href="http://www.braintumor.org/patients-family-friends/">Patients &#038; Families</a>
<a href="http://www.braintumor.org/get-involved/advocacy-public-policy/">Advocates</a>
<a href="http://www.braintumor.org/giving/">Supporters</a>
<a href="http://www.braintumor.org/research/">Researchers</a>
<a href="http://www.braintumor.org/giving/ways-to-give/#CorporationsFoundations">Industry</a>
<a href="http://www.braintumor.org/news/press-kit/">Media</a>
	</div>

    <!-- END SEARCH BY CONNECTION MENU -->

    <!-- START FOOTER SITE NAVIGATION -->

	<nav id="menu" class="wrapper">
    	<ul id="menu-footer-navigation" class="menu"><li id="menu-item-149" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-149"><a href="http://www.braintumor.org/brain-tumor-facts/">Brain Tumor Facts</a>
<ul class="sub-menu">
	<li id="menu-item-151" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-151"><a href="http://www.braintumor.org/brain-tumor-facts/recently-diagnosed/">Recently Diagnosed?</a></li>
	<li id="menu-item-152" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-152"><a href="http://www.braintumor.org/brain-tumor-facts/treatment-options/">Treatment Options</a></li>
	<li id="menu-item-153" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-153"><a href="http://www.braintumor.org/brain-tumor-facts/living-with-a-brain-tumor/">Living with a Brain Tumor</a></li>
	<li id="menu-item-154" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-154"><a href="http://www.braintumor.org/brain-tumor-facts/caregiver-resources/">Caregiver Resources</a></li>
</ul>
</li>
<li id="menu-item-123" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-123"><a href="http://braintumor.org/about-us/">About Us</a>
<ul class="sub-menu">
	<li id="menu-item-124" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-124"><a href="http://braintumor.org/about-us/our-impact/">Our Impact</a></li>
	<li id="menu-item-126" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-126"><a href="http://braintumor.org/about-us/summit/">Summit</a></li>
	<li id="menu-item-125" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-125"><a href="http://blog.braintumor.org/">News &#038; Blog</a></li>
	<li id="menu-item-127" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-127"><a href="http://braintumor.org/about-us/partnership/">Collaborations</a></li>
	<li id="menu-item-128" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-128"><a href="http://braintumor.org/about-us/leadership-staff/">Leadership &#038; Staff</a></li>
	<li id="menu-item-129" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-129"><a href="http://braintumor.org/about-us/accomplishments-and-financials/">Accomplishments &#038; Financials</a></li>
	<li id="menu-item-297" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-297"><a href="http://braintumor.org/about-us/careers/">Careers</a></li>
	<li id="menu-item-130" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-130"><a href="http://braintumor.org/about-us/contact-us/">Contact Us</a></li>
</ul>
</li>
<li id="menu-item-131" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-131"><a href="http://braintumor.org/advance-research/">Advance Research</a>
<ul class="sub-menu">
	<li id="menu-item-132" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-132"><a href="http://braintumor.org/advance-research/integrated-initiatives/">Integrated Initiatives</a></li>
	<li id="menu-item-133" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-133"><a href="http://braintumor.org/advance-research/funded-research-and-accomplishments/">Funded Research &#038; Accomplishments</a></li>
	<li id="menu-item-134" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-134"><a href="http://braintumor.org/advanced-research/research-funding-opportunities/">Research Funding Opportunities</a></li>
</ul>
</li>
<li id="menu-item-136" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-136"><a href="http://braintumor.org/advocate-for-issues/">Advocate for Issues</a>
<ul class="sub-menu">
	<li id="menu-item-137" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-137"><a href="http://braintumor.org/advocate-for-issues/legislative-agenda/">Legislative Agenda</a></li>
	<li id="menu-item-138" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-138"><a href="http://braintumor.org/advocate-for-issues/updates-alerts-polls/">Updates, Alerts &#038; Polls</a></li>
	<li id="menu-item-139" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-139"><a href="http://braintumor.org/advocate-for-issues/tools-training/">Tools and Training</a></li>
	<li id="menu-item-140" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-140"><a href="http://braintumor.org/advocate-for-issues/advocates-in-action/">Advocates in Action</a></li>
</ul>
</li>
<li id="menu-item-142" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-142"><a href="http://braintumor.org/join-the-fight/">Join the Fight</a>
<ul class="sub-menu">
	<li id="menu-item-143" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-143"><a href="http://braintumor.org/join-the-fight/ways-to-give/">Ways to Give</a></li>
	<li id="menu-item-144" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-144"><a href="http://braintumor.org/join-the-fight/find_event.html">Find or Start an Event</a></li>
	<li id="menu-item-145" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145"><a href="http://braintumor.org/join-the-fight/change_policy.html">Change Policy</a></li>
	<li id="menu-item-146" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-146"><a href="http://braintumor.org/join-the-fight/volunteer/">Volunteer</a></li>
	<li id="menu-item-147" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-147"><a href="http://braintumor.org/join-the-fight/honor_your_loved_ones.html">Honor Your Loved Ones</a></li>
</ul>
</li>
<li id="menu-item-155" class="active menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home current-menu-ancestor current-menu-parent menu-item-155"><a href="http://blog.braintumor.org/">News &#038; Blog</a>
<ul class="sub-menu">
	<li id="menu-item-158" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-158"><a href="http://blog.braintumor.org/">Blog</a></li>
	<li id="menu-item-157" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-157"><a href="http://blog.braintumor.org/media-center/">Media Center</a></li>
	<li id="menu-item-156" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-156"><a href="http://blog.braintumor.org/enewsletter/">eNewsletter</a></li>
</ul>
</li>
</ul>
		<a href="https://secure2.convio.net/bts/site/Donation2?df_id=3940&3940.donation=form1" class="donate-link btn btn-orange">Donate</a>


	</nav>
	<!-- END FOOTER SITE NAVIGATION -->

	<!-- START FOOTER META MENU AND SOCIAL LINKS -->
	<div class="meta wrapper">
		<div class="meta-links">
        <a href="http://www.braintumor.org/terms.html">Terms</a>
<a href="http://www.braintumor.org/privacy-policy.html">Privacy</a>
<a href="http://www.braintumor.org/copyright.html">Copyright</a>
		</div>
		<form method="get" action="http://braintumor.pub30.convio.net/search.html">
          <fieldset>
            <legend>Site Search</legend>
            <label for="menu-search-input">Search term</label>
            <input type="text" placeholder="Search" id="menu-search-input" title="Search" name="query" />
            <label for="menu-search-submit">Submit</label>
            <button type='submit' id="menu-search-submit" class="btn-search">Submit</button>
          </fieldset>
        </form>

		<div class="social-links">
			<a href="https://www.facebook.com/braintumors" class="fb">Facebook</a>
				<a href="https://twitter.com/NBTStweets" class="twitter">Twitter</a>
				<a href="http://www.youtube.com/user/NBTSvideo" class="yt">YouTube</a>
				<a href="http://www.flickr.com/photos/nbts/" class="flickr">Flickr</a>
		</div>

	</div>
	<!-- END FOOTER META MENU AND SOCIAL LINKS -->



</footer>
<!-- END FOOTER -->

<script src="http://blog.braintumor.org/wp-content/themes/blankslate/js/scripts.js"></script><!-- CALL COMBINED SCRIPTS -->
<!--<![endif]-->

</body>
</html>

